#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g
CREATE_BUILD_FILES = $(CURDIR)/sdk/premake/premake-linux --target gnu --unicode --disable-wx-debug --with-wx-shared --skip-symlink
CLEAN_BUILD_FILES = $(CURDIR)/sdk/premake/premake-linux --unicode --disable-wx-debug --with-wx-shared --skip-symlink clean
SCRIPTS_DIR = $(CURDIR)/debian/scripts

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp
	$(CREATE_BUILD_FILES)

build: build-stamp

build-stamp: configure-stamp 
	dh_testdir
	$(MAKE) CONFIG=Release
	#docbook-to-man debian/wxformbuilder.sgml > wxformbuilder.1

	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(CREATE_BUILD_FILES)
	$(MAKE) CONFIG=Release clean
	$(CLEAN_BUILD_FILES)

	dh_clean 

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	$(SCRIPTS_DIR)/wxfb_export.sh $(CURDIR)/debian/wxformbuilder/usr

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs $(CURDIR)/output/Changelog.txt 
	dh_installdocs
	dh_install --sourcedir=debian/gnome --autodest \*
	dh_installmenu
	dh_installmime
	dh_desktop
	dh_installman $(CURDIR)/debian/wxformbuilder.1
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
