---
Checks: 'modernize-use-override,readability-implicit-bool-conversion,modernize-deprecated-headers,readability-delete-null-pointer,readability-redundant-member-init'
WarningsAsErrors: 'modernize-use-override,readability-implicit-bool-conversion,modernize-deprecated-headers,readability-delete-null-pointer,clang-analyzer-core.CallAndMessage'
CheckOptions:
      - key:             readability-implicit-bool-conversion.AllowPointerConditions
        value:           '1'
      - key:             readability-implicit-bool-conversion.AllowIntegerConditions
        value:           '1'
