/compile_commands.json
/.ccls-cache/
/.vscode/*.db
/.vscode/*cache*/
/_build*/
/_install*/
/build/
/install/linux/*.flatpak
/install/linux/.flatpak-builder/
/install/linux/build/
/install/linux/repo/
/install/windows/source/
/install/windows/*.exe
/output/*.dll
/output/*.exe
/output/**/*.idb
/output/**/*.ilk
/output/**/*.iobj
/output/**/*.ipdb
/output/**/*.pdb
/output/plugins/**/*.a
/output/plugins/**/*.dll
/output/plugins/**/*.exp
/output/plugins/**/*.lib
/scripts/premake/**/bin/
/scripts/premake/**/obj/
/sdk/lib/
