build/???/
build/premake/?.?/bin/
build/premake/?.?/gmake.unix/
build/premake/?.?/build/
output/bin/
output/lib*/
output/share/
output/*.dll
output/*.exe
output/**/*.idb
output/**/*.ilk
output/**/*.iobj
output/**/*.ipdb
output/**/*.pdb
output/plugins/**/*.a
output/plugins/**/*.dll
output/plugins/**/*.exp
output/plugins/**/*.lib
sdk/lib/
install/windows/source
install/windows/*.exe
.vscode/*.db
/.vscode/*cache*/
/_build/
/_install/
/compile_commands.json
/.ccls-cache/
CMakeFiles
src/CMakeFiles
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
CMakeCache.txt

