[Desktop Entry]
Version=1.0
Name=wxFormBuilder
Comment=wxWidgets GUI Designer
TryExec=wxformbuilder
Exec=wxformbuilder %f
Icon=wxformbuilder.png
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GTK;GUIDesigner;Development;
StartupNotify=true
MimeType=application/x-wxformbuilder;
