[Desktop Entry]
Version=1.0
Type=Application
Name=wxFormBuilder
Comment=wxWidgets GUI Designer
TryExec=wxformbuilder
Exec=wxformbuilder %f
Terminal=false
Icon=org.wxformbuilder.wxformbuilder
MimeType=application/x-wxformbuilder;
Categories=GTK;GUIDesigner;Development;
