<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>wxformbuilder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>wxFormBuilder</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>3.5 RC2</string>
	<key>CFBundleShortVersionString</key>
	<string>3.5 RC2</string>
	<key>CSResourcesFileMapped</key>
	<true/>

	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fbp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>docicon.icns</string>
			<key>CFBundleTypeName</key>
			<string>wxFormBuilder project</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>


	</array>
	<key>NSHighResolutionCapable</key>
    <true/>

</dict>
</plist>
