[Desktop Entry]
Version=1.0
Type=Application
Name=wxFormBuilder
Comment=GUI builder for wxWidgets
TryExec=wxformbuilder
Exec=wxformbuilder %f
Terminal=false
Icon=org.wxformbuilder.wxFormBuilder
MimeType=application/x-wxformbuilder;
Categories=GTK;GUIDesigner;Development;
Keywords=wxWidgets;XRC;GUI;builder;designer;
