// set this to 1 if you don't want to use manifest resource (manifest resource
// is needed to enable visual styles on Windows XP - see docs/msw/winxp.txt
// for more information)
//#if (_MSC_VER >= 1400) // VC8+
//	#define wxUSE_NO_MANIFEST 1
//#else
//	#define wxUSE_NO_MANIFEST 0
//#endif

#include "wx/msw/wx.rc"

//wxBITMAP_STD_COLOURS    BITMAP "wx/msw/colours.bmp"
A ICON MOVEABLE PURE LOADONCALL DISCARDABLE "wxFormBuilder.ico"
