name: macOS
on: [push, pull_request]

jobs:
  bundle:
    name: App Bundle
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-latest, macos-11]
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Setup environment
      run: |
        brew update
        brew install cmake make wxwidgets
    - name: Create build system
      run: |
        cmake -S . -B _build -G "Unix Makefiles" --install-prefix "$PWD/_install" -DCMAKE_BUILD_TYPE=Release
    - name: Package build system
      if: ${{ contains(github.ref, '/test_') || contains(github.ref, '/test/') }}
      run: |
        zip -ry wxFormBuilder_macOS_build.zip _build
    - name: Build
      run: |
        cmake --build _build --config Release -j `sysctl -n hw.ncpu`
        cmake --install _build --config Release
    - name: Test
      run: |
        _install/wxFormBuilder.app/Contents/MacOS/wxFormBuilder -g wxfbTest/wxfbTest.fbp
    - name: Package app bundle
      run: |
        cd _install
        zip -ry ../wxFormBuilder_macOS_bundle.zip wxFormBuilder.app
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: App Bundle ${{ matrix.os }}
        path: |
          wxFormBuilder_macOS_build.zip
          wxFormBuilder_macOS_bundle.zip
